*.exe

# "Non Traditional" Problems
DMOJ/CTF/
Another_Contest_4_P0_The_April_Fools_Warmup_Problem.cpp
Another_Contest_4_P10_Two_Rectangles.cpp
Another_Contest_4_P11_Three_Rectangles.cpp
Another_Contest_4_P1_Identity_Crisis.cpp
Another_Contest_4_P2_The_Deutsch_Jozsa_Algorithm.cpp
Another_Contest_4_P3_An_Isosceles_Right_Triangle.cpp
Another_Contest_4_P4_Another_Isosceles_Right_Triangle.cpp
Another_Contest_4_P5_Prime_Time_Television.cpp
Another_Contest_4_P6_One_Billion_Views.cpp
Another_Contest_4_P7_A_Sack_of_Creatures.cpp
Another_Contest_4_P8_DMOJ.cpp
Another_Contest_4_P9_Fast_Fourier_Transform.cpp
Another_Small_Favour.pl
Boolean.py
Disclosure.py
Guess_the_Sequence.txt
Hello_World_Hard.cpp
List_Minimum_Easy.cpp
Miracle_Sort.cpp
Mock_ECOO_14_P1_Do_You_Want_to_Build_a_Snowman.py
One_Small_Favour.pl
Perl_Golf.pl
Piggy.txt
Please_Help_Me.py
Python_Infinite_Loop.py
Quine.py
Scroll.txt
Self_Deception.py
Sword_Art_Online_Judge_2.java
The_Return_of_A_Plus_B.py
Too_Simple.py
Triway_Cup_19I_An_Easy_Problem.txt
